VITE_FB_API_KEY=AIzaSyAs5Wqa1deTSBpgNZ0BN84x41Jol4HZRpc
VITE_FB_AUTH_DOMAIN=reddit-clone-app-23ebc.firebaseapp.com
VITE_FB_PROJECT_ID=reddit-clone-app-23ebc
VITE_FB_STORAGE_BUCKET=reddit-clone-app-23ebc.appspot.com
VITE_FB_APP_ID=1:1016218611559:web:cd92a860740b7830c249c2

# Feature flags
VITE_FEATURE_SEARCH_ALGOLIA=false
VITE_ALGOLIA_APP_ID=
VITE_ALGOLIA_API_KEY=
